*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)), url(img/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 0px;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start of the nav container */
    padding: 10px;
    gap: 20px; /* Add spacing between elements in the nav */
}

.logo{
    width: 180px;
    cursor: pointer;
}

nav ul{
   list-style: none;
    display: flex; /* Change for flex alignment */
    gap: 20px; /* Space between the list items */
    margin: 0; /* Reset margin for proper spacing */
    padding: 0; /* Reset padding for proper spacing */
}

nav ul li{
    display: inline-block;
    margin: 30px 20px;
}


nav ul li a {
    color: white;
    text-decoration: none;
}

.btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #5e17eb;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin-left: 80px; /* Add space between the last hyperlink and button */
}

.searchform form{
    display: flex;
    align-items: left;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    padding-right: 20px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 830px;
}

.searchform form input{
    border: 0;
    outline: 0;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    font-size: 16px;
}

.content{
    margin-top: 3%;
    color: #fff;
    max-width: 620px;
    margin-left: 50px;
}

.content h1{
    font-size: 65px;
    font-weight: 700;
    line-height: 85px;
    margin-bottom: 15px;
    margin-left: 0px;
}

